<div id="add-movie">

  <form action='/user/<%= @user.id %>/add' method="POST">
    Name: <input type="text" name="movie[name]"><br>
   <p>ADD DROPDOWN FOR GENRE </p>
    Description: <textarea name="movie[description]"></textarea><br>
    Rating: <input type="text" name="movie[rating]"><br>
    <input type="submit">
  </form>

</div>