<div id="#dashboard">
  <h1><%= @user.name %>'s Movies: </h1>

  <table>
    <tr>
      <th>Title</th>
      <th>Rating></th>
      <th>Edit<th>
    </tr>
    <tr>
      <% @user.movies.each do |movie| %>
        <td><%= movie.name %></td>
        <td><%= movie.rating %></td>
        <td><a href="">EDIT_LINK</a></td>
      <% end %>
    </tr>

  </table>

</div>