<div class="container">

  <h1>RANKED MOVIES:</h1>


  <table>
    <tr>
      <th>Movie Title</th>
      <th>Genre</th>
      <th>Ranking</th>
    </tr>
    <% @movies.each do |movie| %>
      <tr>
        <td><a href="/movie/<%= movie.id %>"><%= movie.name %></a></td>
        <td><%= movie.genres.first.name %></td>
        <td><%= movie.rating %></td>
      </tr>
  <% end %>
</table>

  <% if !current_user %>
    <div id="out-message">
      <p>thanks for visiting!<p>
    </div>
  <% end %>

</div>