<div class="auth-container">
  <div id="login-form">
    <h2>Please LOG IN:</h2>
    <form action="/login" method="POST" class="auth-form">
      Username: <input type="text" name="user[name]"><br>
      Password: <input type="password" name="user[password]"><br>
      <input type="submit">
    </form>
  </div>
</div>