<div id="login-form">
  <h1>Please LOG IN:</h1>
  <form action="/login" method="POST">
    Username: <input type="text" name="user[name]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit">
  </form>
</div>