<div class="auth-container">
  <div id="signup-form">
    <h3>SIGN UP:</h3>
    <form action="/signup" method="POST" class="auth-form">
      Username: <input type="text" name="user[name]"><br>
      Password: <input type="password" name="user[password]"><br>
      Password: <input type="password" name="user[password_confirmation]"><br>
      <input type="submit">
    </form>
  </div>
</div>