<div id="signup-form">
  <form action="/signup" method="POST">
    Username: <input type="text" name="user[name]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit">
  </form>
</div>